@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased text-gray-900 bg-cream;
        background-image: radial-gradient(#4A9782 0.5px, transparent 0.5px), radial-gradient(#4A9782 0.5px, #FFF9E5 0.5px);
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;
        background-attachment: fixed;
        /* Parallax-like effect */
    }
}